body{
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    background-image: url(ImgBackgroundAI.jpg);
    background-size: cover;
}

table{
    font-family: "Sixtyfour Convergence", sans-serif;
    padding: 5px;
    border: 5px solid #ccc;
    border-radius: 8px;
    margin: 20px auto; /* Centra la tabella */
}

p{
    text-align: left;
    font-size: 12px;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    background-color: aquamarine;
    border-radius: 5px; /* Bordo arrotondato */
}

/* CSS per il file PHP */

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: solid;
    width: 300px;
    text-align: center;
}
a.button{
    border-radius: 5px; /* Bordo arrotondato */
    border: 2px solid #000000;
    background-color: aquamarine;
    color: #000000; /* Colore del testo */
    text-decoration: none; /* Rimuove la sottolineatura */
}